
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import '~bootstrap-select/sass/bootstrap-select.scss';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.metrics{
  list-style: none;
}


#StartYr, #EndYr{
  width:100%;
}
.all_inputs{
  float: right;
  margin-right: 62px;
  //border: 1px solid;
  padding: 0 4px 0 4px;
  cursor: pointer;
  text-decoration: underline;
  color:#6cb2eb;
}
.wrapper_input{
  display: none;
}
.checked .wrapper_input{
  display: block;
}
.calculate_input{
  width: 100px;
}